/**
 * Custom Style for Tabs Control
 *
 * @package Azure News
 */

.section-tab-wrap {
	margin: -15px -10px -0-10px;
	background: #F5F7F9;
	padding: 15px 10px 0;
}

.section-tab-wrap ul {
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-tab-wrap ul li {
	display: flex;
	padding: 10px 20px;
	flex: 1 1 0;
	justify-content: center;
	margin: 0 6px 0;
	font-weight: 600;
	cursor: pointer;
	border-top: 3px solid transparent;
}

.section-tab-wrap ul li.active, 
.section-tab-wrap ul li:hover {
	background: #fff;
	box-shadow: 0 -3px 3px rgba(0,0,0,.01);
	border-radius: 3px;
	border-top: 3px solid #4ABBD5;
}