/**
 Style for Extend Customizer Panel
 *
 * @package Azure News
 */

.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent,
#customize-theme-controls .customize-pane-child.current-section-parent {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

/**
 * Nested Customizer Section CSS
 */
#customize-controls .control-section.control-section-azure_news_section .accordion-section-title {
  color: #555d66;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid #fff;
  -webkit-transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
  transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
}

#customize-controls .control-section.control-section-azure_news_section .accordion-section-title:after {
  color: #a0a5aa;
}

#customize-controls .control-section.control-section-azure_news_section .accordion-section-title:hover,
#customize-controls .control-section.control-section-azure_news_section .accordion-section-title:focus,
#customize-controls .control-section .accordion-section-title:focus,
#customize-controls .control-section .accordion-section-title:hover,
#customize-controls .control-section:hover>.accordion-section-title {
  color: #212121;
  background: #f3f3f5;
  border-left-color: #4ABBD5;
}

#customize-controls .control-section.control-section-azure_news_section .accordion-section-title:hover:after,
#customize-outer-theme-controls .control-section .accordion-section-title:focus::after,
#customize-outer-theme-controls .control-section .accordion-section-title:hover::after,
#customize-outer-theme-controls .control-section.open .accordion-section-title::after,
#customize-outer-theme-controls .control-section:hover>.accordion-section-title::after,
#customize-theme-controls .control-section .accordion-section-title:focus::after,
#customize-theme-controls .control-section .accordion-section-title:hover::after,
#customize-theme-controls .control-section:hover>.accordion-section-title::after {
  color: #4ABBD5;
}

#customize-controls .control-section-azure_news_section .accordion-section {
  margin-left: -12px;
  margin-right: -12px;
}

#customize-controls .customize-control-zavia-editor .wp-editor-tools .wp-editor-container textarea {
  width: 100%;
}

#customize-control-azure_news_sticky_header_sidebar_option {
  margin-top: 12px;
}

#accordion-panel-azure_news_panel_footer {
  margin-bottom: 20px;
}
#accordion-section-azure_news_theme_upsell {
  display: block !important;
}
.control-section-azure-news-upsell .accordion-section-title .button {
  margin-top: -4px;
  font-weight: 700;
  margin-left: 8px;
  background: #00d2ff;
  background-image: linear-gradient(to right,rgba(212,51,93,1),rgba(255,86,39,1));
  color: #fff;
  border: none;
}