/**
 * Custom Style for Upgrade Control
 *
 * @package Azure News
 */

.customize-control-cv-upgrade {
	background: #fff;
	padding: 15px;
	box-sizing: border-box;
}

.customize-control-title.upgrade-title i {
	vertical-align: middle;
	margin-right: 5px;
	font-size: 18px;
}

.upgrade-description {
	margin: 5px 0 10px;
}

.cv-upgrade-btn {
	background: #2271b1;
	color: #fff;
	padding: 7px 10px;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	line-height: 19px;
	text-transform: capitalize;
}

.cv-upgrade-btn:hover {
	background: #135E96;
	color: #fff;
}

.cv-upgrade-pro-wrapper .upgrade-title-wrap {
	color: #414141;
	font-weight: 600;
	margin-bottom: 10px;
}

.cv-upgrade-pro-wrapper .upgrade-title-wrap::before {
	content: "\f14c";
	font-family: dashicons;
	font-size: 20px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 5px;
}

.cv-upgrade-pro-wrapper .upgrade-item::before {
	content: "\f147";
	font-family: dashicons;
	font-size: 20px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 5px;
}

.cv-upgrade-pro-wrapper .upgrade-list-item {
	margin: 15px 0 15px;
}

.cv-upgrade-btn {
	margin: 0;
	background: #4abbd5;
	color: #fff;
	border-color: #4abbd5;
	padding: 10px 15px;
	display: inline-block;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 600;
	border-radius: 3px;
}

.cv-upgrade-btn:hover {
	background: #38aac4;
	color: #fff;
	border-color: #38aac4;
}